/bin/
/cache/
/_BACKUPS/
src/main/resources/backups/
src/main/resources/backup_setting/
/logs/
/src/sam/manga/mangarock/

*.class

*.jar

/bin/
**/*.db
yarn.lock

**/bin/
**/build/
**/node_modules/
**/.recommenders/
**/.metadata/
.gradle
buildSrc